*/
*
!assembler/
!assembler/assembler-x86_64

!linker/
!linker/linker-aarch64
!linker/linker-x86_64

!lib/
!lib/*.o

!testcase/
!testcase/*.sy
!testcase/*.in
!testcase/*.out


!grammar/
!include/
!include/*/
!script/
!src/
!src/*/
!doc/

!.gitignore
!README.md
!Makefile
!*.sh
!*.mk
!*.md
!*.cc
!*.hh
!*.l
!*.y

